@import url('https://fonts.googleapis.com/css2?family=Valley+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(212, 219, 243);
    font-family: "Valley Sans", sans-serif; /*define fonte geral*/
}

h1{
    font-weight: bold;
}

.right{
    float: right;
}
.left{
    float: left;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}